.app-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: -webkit-fill-available;
  /* grid-gap:1em; */
}
.main-container {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: small;
  /* text-align: center; */
  /* width:800px; */
  /* border:1px solid grey; */
  padding: 10px;
  margin: 1em 2em 0 2em;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.main-container h3 {
  color: darkblue;
}
.provider-details-form,
.internet-details-form,
.user-details-form,.bgColor-and-logo{
  border: 1px grey solid;
  border-radius: 15px;
  padding: 15px;
  margin-top: 1em;
}
.provider-address {
  line-height: 2px;
}
.provider-details {
  text-align: center;
}
.provider-details img {
  height: 2em;
}
.provider-details div:nth-child(1) {
  line-height: 2px;
  height: auto;
  padding: 5px 0;
  background-color: #adcdf0;
  margin-bottom: 1em;
}
.consumer-container {
  display: flex;
  justify-content: space-between;
}
table tr,
td {
  outline: 1px solid black;
  padding: 5px;
  border-collapse: collapse;
}
table {
  width: 100%;
}
/* tr:nth-child(1) td {
  background-color: #adcdf0;
}
tr:nth-child(3) td {
  background-color: #adcdf0;
} */
/* Add padding to the second row only */
tr:nth-child(2) td {
  height: 100px;
}
/* Remove border for empty cells */
td:empty {
  border: none;
}
td:not(:has(*)):not(:has(text)) {
  border: none;
}
.total-price {
  padding: 20px 0 0 0;
}
.total-price p {
  font-size: smaller;
  text-align: right;
  padding-top: 10px;
  margin-bottom: 0;
}

.form-container {
  /* width: */
  height: 100vh;
  overflow-y: scroll;
}
@media screen and (max-width: 768px) {
  .container {
    height: auto; /* Remove the 100vh for mobile screens */
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.download-button {
  float: right;
  margin-right: 25px;
  margin-top: 10px;
}
